body {
  color: white;
}

.explorerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* overflow: hidden; */
}

.map {
  color: white;
  border: 1px solid white;
  height: 100vh;
  width: 50%;
  overflow: hidden;
}

.rightHalfOfPage1 {
  height: calc(100vh - 50px);
  width: 50%;
  border: 1px solid white;
  display: flex;
  overflow: scroll;
  /* overflow-x: hidden; */
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bookingFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingTitle h2 {
  font-family: "Nunito Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 36px;
  width: 100%;
}

.entirePicture {
  width: 100%;
}
.pictureContainer {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.pictureContainerTitle h3 {
  font-size: 24px;
  font-family: "Nunito Sans";
  text-align: center;
}
.pictures {
  width: auto;
  height: auto;
  max-height: 350px;
  max-width: 275px;
}

.bookingLocation h3 {
  font-family: "Nunito Sans";
  display: flex;
  text-align: left;
  margin-top: -18px;
  font-size: 24px;
}

.bookingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptionContainer h3 {
  font-family: "Nunito Sans";
  text-align: center;
  margin: 0;
  font-size: 36px;
}

.descriptionContainer h4 {
  font-family: "Nunito Sans";
  align-items: center;
  text-align: center;
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;
}

.bookingFormButton {
  width: 333px;
  height: 42px;
  border: 1px solid #aa0006;
  margin: 0 0 3px 0;
  background-color: #aa0006;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.bookingFormButton:hover {
  cursor: pointer;
}

.bookingFormTitle h2 {
  display: flex;
  align-self: center;
  width: 100%;
}

.bottomLineUnderTitle {
  width: 100%;
  margin-bottom: 20px;
  margin-top: -28px;
}

.bottomLineAddress {
  width: 100%;
  margin-bottom: 20px;
  margin-top: -16px;
}

.bottomLinePictures {
  width: 100%;
}

.reviews {
  font-family: "Nunito Sans";
}

.reviewContent {
  font-family: "Nunito Sans";
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  border-top: 1px solid white;
}

.reviewsContainer {
  padding-bottom: 10px;
}

.reviewsContainer h3 {
  font-family: "Nunito Sans";
  text-align: center;
  margin: 0;
  font-size: 24px;
}

.bottomLineDescription {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
  border-left: none;
}

.reviewImageAndName {
  font-family: "Nunito Sans";
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}

.reviewImage {
  height: 50px;
  width: 50px;
}

.bookingPrice {
  font-size: 22px;
}

.resetButton {
  width: 400px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Nunito Sans";
  background: linear-gradient(#e66465, #9198e5);
  color: white;
}
