.topNavBar {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1;
  flex-direction: row;
  background-color: rgb(20, 20, 20);
}

.topNavBarLinks {
  width: 100%;
  list-style-type: none;
  display: flex;
  padding: 0;
  height: 50px;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  align-items: center;
  background-color: black;
  color: white;
}
