.topNavBar {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1;
  flex-direction: row;
  background-color: rgb(20, 20, 20);
}

.topNavBarLinks {
  width: 100%;
  list-style-type: none;
  display: flex;
  padding: 0;
  height: 50px;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  align-items: center;
  color: white;
}

ul {
  width: 100%;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: black;
}

li a:hover {
  background-color: #ddd;
  color: black;
}
/* End of NavBar styling. */
