body {
  color: white;
}

.explorerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  animation-name: fadein;
  animation-duration: 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  
}
@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.map {
  color: white;
  border: 1px solid white;
  height: 100vh;
  width: 50%;
}

.rightHalfOfPage {
  height: calc(100vh - 50px);
  width: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.centerContainer {
  display: flex;
  text-align: center;
  margin-top: 50vh;
  font-size: 40px;
  font-family: "Nunito Sans";
}

.centertext {
  display: flex;
  font-family: "Nunito Sans";
  align-self: center;
  padding-top: 100px;
}
