/* Login CSS */

/* Added CSS variables */

.Big {
  display: flex;
  justify-content: space-around;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7674aee8-a93d-4e4a-8a60-456b3770bbba/de0v9tj-c97b0335-e675-400c-8156-55fb57f37d66.jpg/v1/fill/w_1280,h_854,q_75,strp/washington_dc_capitol_ii_by_boldfrontiers_de0v9tj-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04NTQiLCJwYXRoIjoiXC9mXC83Njc0YWVlOC1hOTNkLTRlNGEtOGE2MC00NTZiMzc3MGJiYmFcL2RlMHY5dGotYzk3YjAzMzUtZTY3NS00MDBjLTgxNTYtNTVmYjU3ZjM3ZDY2LmpwZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.NT4CI68CzCHmP60OP5yybka4Zq2QMn2jYz7ycu8l_X8");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.err {
  color: red;
  font-weight: bolder;
  text-align: left;
  margin-left: 43px;
}

.login-form {
  margin-bottom: 500px;
  margin-left: 0;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.kappa {
  font-family: "Nunito Sans";
  text-align: center;
  font-size: 80px;
  color: #f79d84;
  font-weight: bold;
}

.login-form form {
  padding: 10px;
  max-width: 350px;
  margin: 0 auto;
}

.login-form input {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: rgb(233, 227, 227);
  margin: 0 40px 6px;
  padding: 10px;
  width: 250px;
}

.login-form button {
  background: linear-gradient(45deg, rgb(0, 219, 235), rgb(0, 95, 219));
  color: white;
  font-weight: bolder;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 0 40px 6px;
  padding: 10px;
  width: 272px;
}

.signup-link-box {
  background-color: #fff;
  padding: 10px;
  max-width: 350px;
  margin: 10px auto;
  font-size: 20px;
  color: #f79d84;
  background-color: transparent;
}

/* Changed color of signUp link */
.signUp {
  color: rgb(11, 117, 184);
}

.login-form button:hover {
  background: linear-gradient(45deg, rgb(0, 219, 235), rgb(0, 95, 219));
  background-size: 300% 300%;
  animation: easy 4s ease-in-out infinite;
}

@keyframes easy {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

/* Sign Up CSS */

.signup-form {
  /* background-color: #fafafa; */
  margin-bottom: 500px;
  margin-left: 0;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.signup-form h1 {
  font-family: "Neue Helvetica";
  text-align: center;
  font-size: 40px;
  color: rgb(20, 20, 20);
}

.signup-form form {
  /* background-color: #fff; */

  padding: 10px;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.signup-form input {
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  color: rgb(38, 38, 38);
  margin: 0 40px 6px;
  padding: 10px;
  width: 250px;
}

.signup-form button {
  background: linear-gradient(45deg, rgb(0, 219, 235), rgb(0, 95, 219));
  border: none;
  outline: none;
  border-radius: 4px;
  margin: 0 40px 6px;
  padding: 10px;
  width: 275px;
}

.signup-form button:hover {
  background: linear-gradient(45deg, rgb(0, 219, 235), rgb(0, 95, 219));
  background-size: 300% 300%;
  animation: easy 4s ease-in-out infinite;
}

@keyframes easy {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.login-link-box {
  background-color: #fff;
  padding: 10px;
  max-width: 350px;
  margin: 10px auto;
  text-align: center;
}

.login-form .demoButton {
  margin-left: 50px;
}
