.EntirePageContainer {
  overflow-x: hidden;
  overflow-y: auto;
}

.titleContainer {
  height: 1px;
  width: 1px;
  border: 1px solid black;
  font-style: italic;
}

.titleContainer h2 {
  font-family: "Nunito Sans";
  font-style: normal;
  width: 100vw;
  margin-top: 125px;
  margin-left: 150px;
  font-size: 30px;
  /* border: 1px solid white; */
}

.lineUnderTrip {
  margin-left: 150px;
  width: 1750px;
}

.titleContainer .upcoming {
  font-family: "Nunito Sans";
  width: 250px;
  margin-left: 150px;
  font-size: 30px;
}

.upcoming:hover {
  cursor: pointer;
}

.titleContainer .past {
  font-family: "Nunito Sans";
  width: 100vw;
  margin-left: 30px;
  font-size: 30px;
}

.past:hover {
  cursor: pointer;
}

.bookingPrice {
  font-family: "Nunito Sans";
}

.reviewImage {
  border-radius: 5px;
}

.reviewContent {
  margin-top: 15px;
  font-size: 16px;
}
.recenter {
  z-index: 1;
  margin-bottom: 50px;
}

.photoContainer {
  margin-top: 1px;
}

.picture {
  height: 220px;
  width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: -5px;
}

.picture:hover {
  cursor: pointer;
}

.entireCardContainer {
  display: flex;
  margin-top: 250px;
  margin-left: 180px;
}

.reservationCardContainer {
  border-radius: 10px;
  width: 500px;
  margin: 15px;
  font-family: "Nunito Sans";
}

.reservationDate {
  font-size: 16px;
  font-style: italic;
  color: grey;
  border: 0px;
}

.reservationTitle {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right-color: 1px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid white;
  font-family: "Nunito Sans";
  font-size: 22px;
  padding-left: 10px;
}

.reservationState {
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size: 24px;
  padding-left: 10px;
}

.reservationDate {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-left: 10px;
}

.bottomHalf {
  width: 2000px;
  display: flex;
  flex-wrap: wrap;
}

.actualButton {
  width: 150px;
  background-color: rgb(0, 75, 141);
  font-family: "Nunito Sans";
  color: white;
  font-size: 14px;
  border-radius: 10px;
}

.actualButton:hover {
  cursor: pointer;
}
